.button
{
	-fx-background-color : #42AA2D;
	-fx-background-radius : 0 0 0 0;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.selected-button
{
	-fx-background-color : #3B892C;
	-fx-background-radius : 0 0 0 0;
}
